.Questions{
    height: clamp(640px,96vh, 1060px);
    width: clamp(1100px,96vw,1850px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: absolute;
    top: 1%;
    left: 1.5%;
    z-index: 99999999;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headingDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Questions div h1{
    margin-top: 39px;
    color: #023047;
    font-size: clamp(28px,2.08vw,40px);
    line-height: 54px;
}

.Questions p{
    font-size: clamp(16px,1.458vw,28px);
    line-height: 37px;
    color: #023047;
    width: 70.677vw;
}

.Questions button{
    font-size: clamp(18px,1.0416vw,24px);
    width: 7.81vw;
    height: 4.629vh;
    background-color: #D5D5D5;
    border-radius: 25px;
    color: #2B3044;
    line-height: 32px;
    margin-bottom: 4.629vh;
    border: 0;
    outline: none;
}

.Questions img{
    margin-top: 40px;
    margin-right: 16px;
}

.Questions .crossImage{
    position: absolute;
    left: 95%;
    top: 2%;
    cursor: pointer;
}

.buttondiv{
    display: flex;
}

.buttondiv button{
    margin-left: 20px;
    margin-right: 20px;
}

.buttondiv button:nth-child(2){
    background-color: #007BFF;
    color: white;
}

.buttondiv button:nth-child(3){
    background-color: #28A745;
    color: white;
}

.questionArea div img{
    margin: 0;
    width: 15px;
    height: 22px;
    margin-top: 20px;    
}

.questionArea div{
    display: flex;
    border-bottom: 1px solid #707070;
}

.questionArea div:nth-child(1) h2{
    margin-left: 60px;
}

.questionArea div h2{
    margin: 15px 0px;
    font-size: clamp(16px,1.0416vw,24px);
    line-height: 2.962vh;
    margin-left: 60px;
}

.questionArea div h2:nth-child(1){
    width: 16px;
    margin: 0;
    margin: 15px 0px;
}

.correctOptionDiv{
    width: 31.25vw;
}

.correctOption{
    width: 31.25vw;
    height: 5.5555vh;
    background-color: #2B3044;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.correctOption h2{
    width: 280px;
    height: 40px;
    color: white;
    font-size: clamp(16px,1.0416vw,24px);
    border-right: 3px solid white;
    padding-left: 20px;
    display: flex;
    align-items: center;

}

.options{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    width: 15.625vw;
}

.options label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: white;
    font-size: clamp(18px,1.0416vw,24px);
    height: 2.962vh;
    border-radius: 5px;
    padding: 2px 10px;
    color: #2B3044;
    font-weight: bold;
    margin: 0 0.104vw;
}

.options label input{
    width: 1.0416vw;
    height: 1.851vh;
}

.p{
    width: 600px !important;
    font-size: clamp(18px,1.0416vw,24px) !important;
}