.Completed{
    margin-top: 20px;
    background-color: #FFFFFF;
    max-width: 100%;
    width: 100vw;
    height: 782px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
}

.heading{
    max-width: 100%;
    width: 100vw;
    height: 121px;
    display: flex;
    justify-content: space-between;
}

.heading div h2{
    font-size: clamp(20px,1.6vw,30px);
    font-weight: bold;
    line-height: 40px;
    color: #2B3044;
    padding:19px 0 0 20px
}

.heading div p{
    font-size: clamp(16px,1.3vw,24px);
    font-weight: 400;
    line-height: 32px;
    color: #2B3044;
    padding-left: 20px;
    margin-bottom: 31px;
}

.heading div button{
    width: 100px;
    height: 30px;
    color: #FF6D0C;
    border: 1px solid #FF6D0C;
    border-radius: 15px;
    margin: 44px 40px 0 0;
    background-repeat: no-repeat;
    outline: none;
    text-indent: -40px;
    background-position: 60px;
    background-color: #FFFFFF;
}

.Completed table{
    width: clamp(820px,85vw,1600px);
    overflow: hidden;
}

.thead{
    font-size: clamp(16px,1.05vw,20px);
    font-weight: bold;
    color: #FFFFFF;
    min-height: 80px;
    background-color: #5A6268;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(820px,86vw,1600px);
}

.thead div{
    font-size: clamp(16px,1.05vw,20px);
    font-weight: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 20px;
    width: clamp(820px,81vw,1560px);
}

.tbody{
    /* padding: 0 23px 0 20px ; */
    font-size: clamp(16px,1.05vw,20px);
    font-weight: medium;
    color: #2B3044;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8FF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 10px 0px 10px 20px;
    min-height: 60px;
    border-radius: 15px;
    width: clamp(820px,81vw,1560px);
}

.thead th{
    width: clamp(130px,19%,250px);

}

.tbody td{
    width: clamp(130px,19%,240px);
    text-align: center;
}

.tbody td button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #023047;
    background-color: #FFFFFF;
    margin: 0 4px;
}

.thead th:nth-child(5){
    width: clamp(200px,26%,400px);
}

.tbody td:nth-child(5){
    width: clamp(200px,26%,400px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbody td button:nth-child(1){
    border: 1px solid #007BFF;
}

.tbody td button:nth-child(2){
    border: 1px solid #5A6268;
}

.tbody td button:nth-child(3){
    border: 1px solid #28A745;
}

.tbody td button:nth-child(4){
    border: 1px solid #219EBC;
}
@media screen and (max-width:480px) {
    .Completed{
        max-width: 108%;
        width: 100vw;
    }

    .tbody{
        margin: 10px 0px 10px 0px;
        padding: 0;

    }

    .thead{
        padding: 0;
    }

    .tbody td,.thead th{
        /* width: 500px !important; */
         margin:0 3px;
    }
}