.quizActivity{
        margin-top: 20px;
        background-color: #FFFFFF;
        max-width: 100%;
        width: 100vw;
        min-height: 782px;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
      
        overflow-x: auto; 
}

.heading{
    max-width: 100%;
    width: 100vw;
    height: 121px;
    display: flex;
    justify-content: space-between;
}

.heading div h2{
    font-size: clamp(20px,1.6vw,30px);
    font-weight: bold;
    line-height: 40px;
    color: #FE6903;
    padding:19px 0 0 20px
}

.heading div p{
    font-size: clamp(16px,1.3vw,24px);
    font-weight: 400;
    line-height: 32px;
    color: #009444;
    padding-left: 20px;
    margin-bottom: 31px;
}

.heading div button{
    width: 100px;
    height: 30px;
    color: #FF6D0C;
    border: 1px solid #FF6D0C;
    border-radius: 15px;
    margin: 44px 40px 0 0;
    background-repeat: no-repeat;
    outline: none;
    background-position: 60px;
    background-color: #FFFFFF;
    text-indent: -40px;
}

.activity{
    /* max-width: 97.4%; */
    width: clamp(1000px,80.208vw,1600px);
    min-height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.activity p{
    margin: 0 0.5vw;
    font-size: clamp(16px,1.05vw,20px);
    line-height: 27px;
    /* width: clamp(100px,20vw,20vw); */
}

.activity button{
    width: clamp(80px,7.812vw,200px);
    height: 40px;
    border-radius: 20px;
    font-size: clamp(12px,1.05vw,20px);
    border: 1px solid #707070;
    background-color: #FFFFFF;
}

@media screen and (max-width:480px) {
    .quizActivity{
        max-width: 108%;
        width: 100vw;
    }
}