.quiz{
    max-width: 98%;
    width: 100vw;   
    margin: 0 20px;
    margin-right: 20px;
}

.buttonDiv{
    display: flex;
    min-width: 90vw;
    overflow-x: scroll;
    padding-left: 5px;
    padding-bottom: 2px;
}

.quiz .quizh1{
    font-size: clamp(24px,1.875vw, 36px);
    font-weight: bold;
    margin-top: 15px;
    color: #FE6903;
    width: 99vw;
    height: 51p;
}

.quiz .buttonInactive{
    font-size: clamp(16px,1.0416vw,1.0416vw);
    font-family: Roboto;
    border-radius: 30px;
    border: 0;
    box-shadow: 0px 0px 6px #000000;
    min-width: 200px;
    width: 13.802vw;
    height: 60px;
    margin-right: 2.864vw;
    margin-top: 20px;
    color: #2B3044;
}

.quiz button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quiz button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quiz button p{
    font-size: clamp(20px,1.0416vw,1.0416vw);
    color: #FF6D0C;
}

.quiz .buttonActive{
    color: #FFFFFF;
    background-color: #A2B5FF;
    font-size: clamp(20px,1.0416vw,1.0416vw);
    font-family: Roboto;
    border-radius: 30px;
    border: 0;
    box-shadow: 0px 0px 6px #000000;
    width: 13.802vw;
    height: 60px;
    margin-right: 2.864vw;
    margin-top: 20px;
    min-width: 200px;
}